<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.steptowin.albums">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >


        <activity android:name="com.steptowin.common.base.SimpleFragmentActivityWithTitle"/>
        <activity android:name=".AlbumsActivity"/>
    </application>

</manifest>
